@charset "utf-8";

body {
    background-color: #1C1C1C;
}

#bentley {
    margin-top: 50px;
    margin-right: 150px;
    width: 500px;
}

#especbentley {
    color: white;
    margin: auto;
    font-size: 25px;
}

.bentley {
    margin: auto;
}