@charset "utf-8";

body {
    background-color: #1C1C1C;
}

#bmw {
    margin-top: 50px;
    margin-right: 150px;
    width: 500px;
}

#especbmw {
    color: white;
    margin: auto;
    font-size: 25px;
}

.bmw {
    margin: auto;
}